/*Schrijf hier jouw CSS*/

/*----------Opdracht 1---------- */

.opdracht-1-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*----------Opdracht 2---------- */

.opdracht-2-container {
    display: flex;
    flex-direction: row;
}

.opdracht-2-container li {
    display: flex;
    flex-direction: row;
    flex-basis: 0;
    flex-grow: 1;
}

/*----------Opdracht 3---------- */

.opdracht-3-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.opdracht-3-item-2 {
    align-self: center;
    justify-content: center;
}

.opdracht-3-item-3 {
    align-self: flex-end;
}

